*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

/*homepage*/
.output{
  display: flex;
  justify-content: center;
  align-items: center;
}

.error{
  color: red;
}

/* editor */
.active{
  color:orange !important;
}